@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

@layer base {
	strong {
		/* font-weight: 700; */
	}
	a {
		/* @apply text-blue font-bold; */
	}
	p,
	label {
		@apply text-blue;
	}
}

.tick::before {
	content: "";
	position: absolute;
	width: 0px;
	height: 3px;
	background: #29376A;

	transform: translate(2px, 8px) rotate(45deg)
	transform-origin: left;
	transition: all 150ms;
	transition-delay: 0ms;
}
.tick::after {
	content: "";
	position: absolute;
	width: 0px;
	height: 3px;
	background: #29376A;

	transform: translate(7px, 11px) rotate(-45deg);
	transform-origin: left;
	transition: all 150ms;
	transition-delay: 150ms;
}
.checked.tick::before {
	width: 7px;
	transition-delay: 0ms;
}
.checked.tick::after {
	width: 13px;
	transition-delay: 150ms;
}
