@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");

@layer base {
	strong {
		font-weight: 700;
	}
	a {
		@apply text-blue font-bold;
	}
}
